    @import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
    
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: #e0dacd;
      font-family: 'Open Sans', sans-serif;
    }
    
    #world {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    

    #sun-info {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #b75505;
      font-size: 14px;
      background: rgba(224, 218, 205, 0.8);
      padding: 10px;
      border-radius: 5px;
      pointer-events: none;
      z-index: 10;
    }
    
    #click-counter {
      position: absolute;
      top: 50px;
      left: 20px;
      color: #1cad0c;
      font-weight: bold;
      font-size: 18px;
      background: rgba(92, 67, 13, 0.8);
      padding: 5px 10px;
      border-radius: 5px;
      pointer-events: none;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    #click-counter.show {
      opacity: 1;
    }
    #panatha-banner {
  position: absolute;
  top: 10px;
  width: 100vw;
  text-align: center;
  color: #11b04d;      /* Πράσινο ΠΑΟ */
  font-size: 2.3em;
  font-weight: bold;
  letter-spacing: 6px;
  text-shadow: 0 1px 8px #00000011;
  z-index: 100;
  font-family: 'Open Sans', sans-serif;
  pointer-events: none;
  user-select: none;
}